@model ProjektMVC.Data.Models.Pizza
@{
    ViewBag.Title = "Pizza";
}

<h2>@Model.Name</h2>

<div class="form-group">
    @Html.LabelFor(t => t.Name, new { @class = "control-label col-sm-2" })
    @Html.ValueFor(t => t.Name)
</div>

<div class="form-group">
    @Html.LabelFor(t => t.Size, new { @class = "control-label col-sm-2" })
    @Html.ValueFor(t => t.Size)
</div>

<div class="form-group">
    @Html.LabelFor(t => t.Thickness, new { @class = "control-label col-sm-2" })
    @Html.ValueFor(t => t.Thickness)
</div>

<div class="form-group">
    @Html.LabelFor(t => t.Ingredients, new { @class = "control-label col-sm-2" })
    <div>
        <ul name="Ingredients" style="padding-left: 0">
            @foreach (var ingredient in Model.Ingredients)
            {
                <li value="@ingredient.IngredientId" style="list-style-type: none">@ingredient.Ingredient.Name</li>}
        </ul>
    </div>
</div>